<h1>Parsing the XML feeds</h1>
<p><%= link_to 'Back Home', grablists_path %> </p>
<h2>General information about the calendar entries collected</h2>
<p><%= @show %></p>
<h2>Finished!</h2>
<p><%= link_to 'Back Home', grablists_path %> </p>


